doctype
html( lang="en" )
	head
		title!= title
		link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet", type='text/css')
		link(href="/css/main.css", rel="stylesheet", type='text/css')
	body
		.container
			h1= title
			p= "This is the result of an assignment from the FreeCodeCamp cirriculum."
			p= "Work of Joseph Semlak"
			if userStories
				.bs-callout.bs-callout-primary
					p='User stories:'
					ol
						for story in userStories
							li= story
			if notes
				.bs-callout.bs-callout-primary
					p='Notes:'
					ul
						for note in notes
							li= note
			if examples
				.bs-callout.bs-callout-info
					h3= "Examples:"
						for example in examples
							h4= "Input:"
								p.bs-callout.bs-callout-default.code-callout.example= example.input
							h4= example.action
								- var output ;
								- output = ((typeof example.output) == 'object') ? JSON.stringify(example.output) : example.output
								p.bs-callout.bs-callout-default.code-callout.example= output

